* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.underline {
  text-decoration: none;
  color: #0066cc;
}

.underline:hover {
  text-decoration: underline;
}

.background {
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  position: relative;
}

.largepicheight {
  height: 85vh;
}

.smallpicheight {
  height: 580px;
}

.darkcolor {
  color: #1d1d1f;
}

.link {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#emptyblock {
  height: 45px;
}

#shoponline {
  text-align: center;
  border: 1px solid transparent;                          /* Make the div height increase and the text vertically aligned */
  background-color: #f5f5f7;
  font-size: 14px;
  height: 45px;
}

#grid {
  display: grid;
  row-gap: 10px;
}

#smallgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;                       /* Use fr(fraction) for grid, gap is included in the width */
  gap: 10px 10px;
  margin: 10px;
}

#iphone13pro {
  background-image: url("https://www.apple.com/v/home/an/images/heroes/iphone-13-pro/hero_iphone13pro_avail__iy77cld0zwii_medium.jpg");
  background-size: auto 113%;
  background-color: #fbfbfd;
}

#iphonese {
  background-image: url("https://www.apple.com/v/home/an/images/heroes/iphone-se/hero_iphonese_avail__eg8srhcnpo66_largetall.jpg");
  background-size: auto 105%;
  background-color: #fbfbfd;
}

#ipadair {
  background-image: url("https://www.apple.com/v/home/an/images/heroes/ipad-air/hero_ipadair_avail__dsqv5nn0tpsi_largetall.jpg");
  background-size: auto 105%;
}

@media screen and (max-width:1080px) {
  #ipadair {
    background-color: black;
    background-position: 63% bottom;
    background-size: auto 60%;
  }
}

#wwdc {
  background-image: url("https://www.apple.com/v/home/an/images/promos/wwdc-announce/promo_wwdc_announce__dr6w8rxice4i_large.jpg");
}

#watch {
  background-image: url("https://www.apple.com/hk/en/home/images/promos/watch-series-7/promo_watch_lte__djeaso7ukrsm_large.jpg");
}

#iphone13 {
  background-image: url("https://www.apple.com/v/home/an/images/promos/iphone-13/promo_iphone13_avail__frc36u35m0ii_large.jpg");
}

#studiodisplay {
  background-image: url("https://www.apple.com/v/home/an/images/promos/studio-display/promo_studiodisplay_avail__d1cx9j73ooq6_large.jpg");
}

#airpods {
  background-image: url("https://www.apple.com/v/home/an/images/promos/airpods/tile_airpods__fuv6vgn42y2q_large.jpg");
}

#movie {
  background-image: url("https://www.apple.com/v/home/an/images/promos/tv-plus-big-conn/promo_big_conn__c09lqm5n9kae_large.png");
}

#iphone13protitle {
  font-size: 54px;
  margin-top: 45px;
  margin-bottom: 0px;
}

.subheading {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 0;
}

#thenew {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 0;
}

#iphonesepic {
  background-image: url("https://www.apple.com/v/home/an/images/logos/iphone-se/logo_hero_iphonese__dtb7zrygggeq_largetall.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

#ipadheading {
  background-image: url("https://www.apple.com/v/home/an/images/logos/ipad-air/hero_logo_ipadair__em8hublxa0om_largetall.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 330px;
  background-position: center;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: 60vw;
}

@media screen and (max-width:1080px) {
  #ipadheading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }
}

#ipadsubheading {
  font-size: 28px;
  color: white;
  line-height: 1px;
  padding-top: 80px;
}

.learnmore {
  font-size: 20px;
  margin-right: 30px;
  position: relative;
}

.buy {
  font-size: 20px;
  position: relative;
}

.learnmore::after, .buy::after {
  content: url("https://api.iconify.design/akar-icons/chevron-right.svg?color=%2306c");
  margin-left: 3px;
  top: 3px;
  position: relative;
}

.small::after {
  content: url("https://api.iconify.design/akar-icons/chevron-right.svg?width=12&height=12&color=%2306c");
  margin-left: 3px;
  top: 1px;
  position: relative;
}

#wwdcpic {
  background-image: url("https://www.apple.com/v/home/an/images/logos/wwdc-announce/wwdc22_logo__f39kr8derwya_large.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  margin-top: 380px;
  margin-bottom: 0;
}

#wwdccolor {
  color: #c6e1e6;
}

#wwdccolor span {
  display: inline-block;
  width: 365px;
}

#righttoparrow::after {
  content: url("https://api.iconify.design/akar-icons/arrow-up-right.svg?color=%2306c");
  margin-left: 3px;
  top: 4px;
  position: relative;
}

#watchpic {
  background-image: url("https://www.apple.com/v/home/an/images/logos/watch-series-7/promo_logo_watch_lte__emrof7zzkriq_large.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 0;
}

.smallsubheading {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.small {
  font-size: 16px;
}

.smallheading {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 0;
}

.airpodsmargin {
  margin-top: 430px;
}

#appletvpic {
  background-image: url("https://www.apple.com/v/home/an/images/logos/tv-plus/logo__dcojfwkzna2q_large.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  margin-top: 45px;
}

#movienamepic {
  background-image: url("https://www.apple.com/hk/en/home/promos/tv-plus-big-conn/images/promo_logo_big_conn__dhzmdcfnqqwm_large.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin-top: 270px;
  margin-bottom: 0;
}

#streamnow::after {
  content: url("https://api.iconify.design/ci/play-circle-filled.svg?width=20&height=20&color=%2306c");
  margin-left: 3px;
  top: 4px;
  position: relative;
}

.darkunderline {
  color: #424245;
  text-decoration: none;
}

.darkunderline:hover {
  text-decoration: underline;
}

#bottomcontainer {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  background-color: #f5f5f7;
  justify-content: center;
  font-size: 12px;
}

@media screen and (max-width:1080px) {
  #bottomcontainer {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 20px;
  }
}

#bottomgrid1 {
  grid-column: 1 / span 5;
  border-bottom: 1px solid #d2d2d7;
  padding: 5px 0 20px 0;
  color: #6e6e73;
  line-height: 17px;
}

#bottomgrid2 {
  color: #424245;
  text-decoration: none;
  list-style-type: none;
  padding: 0;                               /* Clear the default padding for lists */
  margin-top: 5px;
  line-height: 25px;
}

.listheader {
  font-weight: bold;
}

.subheader {
  margin-top: 20px;
}

#bottomgrid3 {
  grid-column: 1 / span 5;
  border-bottom: 1px solid #d2d2d7;
  padding: 20px 0 5px 0;
  color: #6e6e73;
  line-height: 15px;
}

footer {
  grid-column: 1 / span 5;
  margin-bottom: 20px;
}

footer > span {
  color: #6e6e73;
  margin-right: 30px;
}

footer a {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}

.floatright {
  float: right;
}

.noborder {
  border: none;
}

#nopadding {
  padding-left: 0;
}

#five {
  display: inline;
}

@media screen and (max-width:915px) {
  #five {
    display: block;
    padding-top: 5px;
  }
}

#topnav {                                   /* Whole container for the top navbar */
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: #2c2c2e;
  top: 0;
}

#navcontainer {                             /* Container for the flex items */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1020px;
  height: 100%;
  margin: auto;                             /* Center the container */
}

@media screen and (max-width: 1070px) {      /* Allow navbar column-gap shrinks accordingly when the screen is smaller */
  #navcontainer {
    width: 100%;
  }
}

.topnavitems {
  color: #f5f5f7;
  font-size: 12px;
  text-decoration: none;
  height: 100%;
  line-height: 45px;
  white-space: nowrap;
  padding: 0 10px;
  opacity: 0.8;
  transition: 0.3s;
}

.topnavitems:hover {
  opacity: 1;
}

#search {
  cursor: pointer;
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg");
  background-repeat: no-repeat;
  background-position: top;
  width: 30px;
}

#sidenav {
  position: relative;
  width: 30px;
  height: 100%;
}

#bagcheckbox {
  display: none;
}

#bagicon {
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: absolute;
  cursor: pointer;
}

#arrow {                                              /* The top arrow */
  border: 1px solid;
  background-color: white;
  border-color: #d1d1d1 #d1d1d1 transparent transparent;
  border-radius: 0 2px 0 0;
  height: 10px;
  width: 10px;
  transform: rotate(315deg);
  position: absolute;
  right: 10px;
  top: 43px;
  display: none;
}

#shoppingbag {
  position: absolute;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 17px;
  width: 290px;
  height: 325px;
  font-size: 13.5px;
  top: 47px;
  left: -130px;
  right: auto;
  cursor: default;
  display: none;
}

@media screen and (max-width: 1265px) {
  #shoppingbag {
    position: fixed;
    right: 5px;
    left: auto;
  }
}

#smallbag {
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/assets/ac-store/bag.svg");
}

#saveditems {
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/assets/ac-store/savedbyyou.svg");
}

#orders {
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/assets/ac-store/orders.svg");
}

#account {
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/assets/ac-store/account.svg");
}

#signin {
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/assets/ac-store/signIn.svg");
  border: none;
}

#yourbagisempty {
  color: #6e6e73;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
  margin: 0 20px;
  padding: 37px 0;
}

.bagitems {
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center left;
  display: block;
  border-bottom: 1px solid #d1d1d1;
  margin: 0 20px;
  padding: 15px 0 15px 31px;
}

#bagcheckbox:checked~#shoppingbag,
#bagcheckbox:checked~#arrow,
#bagcheckbox:checked~#bagicon {
  display: block;
  opacity: 1;                                             /* Bag icon stays opacity: 1 when checked */
}

#searchcheckbox {
  display: none;
}

/* #searchcheckbox:checked ~ #topnav {
  background-color: black;
}

#searchcheckbox:checked ~ #topnav #navcontainer .topnavitems {
  transform: scale(0.1);
  transition: .3s ease-in .2s;
} */

#searchpage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.43);
}

#searchboxcontainer {
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: black;
}

#searchbox {
  width: 33%;
  height: 100%;
  border: 1px solid red;
  background-image: url("https://www.apple.com/ac/globalnav/7/en_HK/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

